<div class="profile-container">
  <div class="profile-name">
    Név
  </div>
  <div class="profile-data">
    <div>
      Dátum
    </div>
    <div>
      01.01.
    </div>
  </div>
  <div class="profile-data">
    <div>
      Vérnyomás
    </div>
    <div>
      1
    </div>
  </div>
  <div class="profile-data">
    <div>
      Pulzus
    </div>
    <div>
      1
    </div>
  </div>
  <div class="profile-data">
    <div>
      Súly
    </div>
    <div>
      1
    </div>
  </div>
  <div class="profile-data">
    <div>
      Vércukor
    </div>
    <div>
      1
    </div>
  </div>
</div>
